@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'bootstrap';

.colorPrimary{
  background-color: #1cc623;
}
.tituloLogo{
  font-size: xx-large;
}

.fondo{
  background-image: url(../css/images/wallpaper.jpg);
  background-position: center center;
  background-repeat: no-repeat;
}